.omni_text_center {
  text-align: center;
}
.omni_color_white {
  color: $color-white;
  -moz-transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
}
.omni_color_gray {
  color: $color-secondary-gray;
}
.omni_color_dark_gray {
  color: $color-dark-gray;
}
.omni_bg_color_light_gray {
  background-color: $color-light-gray;
}
a.omni_color_white:hover {
  color: $color-gray;
}
.omni_btn_light {
  border: 1px solid $color-black;
  color: $color-black;
  display: inline-block;
  font-family: 'Roboto', serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin-top: 10px;
  padding: 15px 20px;
  -moz-transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  text-transform: uppercase;
}
.omni_btn_light:hover {
  background-color: $color-black;
  color: $color-white;
  text-decoration: none;
}

@media (min-width: 568px) {

}

@media (min-width: 768px) {
  .omni_btn_light {
	font-size: 12px;
	letter-spacing: 1.5px;
	margin-top: 40px;
	padding: 15px 20px;
  }
}

@media (min-width: 992px) {
  .omni_btn_light {
	font-size: 12px;
	letter-spacing: 1.5px;
	margin-top: 40px;
	padding: 15px 125px 15px 20px;
  }
}

@media (min-width: 1200px) {

}
