.jumbotron {
  margin: 55px 0 0;
  padding: 0;
  position: relative;
}
.jumbotron-content-wrapper {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&1+0,0+100 */
  background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  bottom: 0;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.jumbotron-content-wrapper .container,
.jumbotron-content-wrapper .container .row,
.jumbotron-content-wrapper div[class^="col-*"],
.jumbo-content-outer-wrapper {
  height: 100%;
}

.jumbo-content-outer-wrapper {
  display: table;
  width: 100%;
}

.jumbo-content-inner-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.jumbo-content-wrapper {
  vertical-align: middle;
}

.jumbotron-header {
  font-family: $font-stack-times;
  font-size: 40px;
  font-style: italic;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
}

.jumbotron-sub-header {
  font-family: $font-stack-roboto;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 5px;
  padding: 0 15px 40px;
  text-align: center;
  text-transform: uppercase;
}

.jumbotron-content {
  display: none;
  font-family: $font-stack-roboto;
  font-size: 14.7px;
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 2;
}

.jumbotron-video-wrapper {
  display: grid;
}

.video-background {
  width: 100%;
}

@media (min-width: 568px) {
  .jumbotron-header {
    font-size: 40px;
    letter-spacing: 5px;
    text-align: left;
  }

  .jumbotron-sub-header {
    font-size: 16px;
    letter-spacing: 5px;
    padding: 0 0 40px;
    text-align: left;
  }
  .jumbotron-content {
    display: block;
    font-family: $font-stack-roboto;
    font-size: 14.7px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 2;
  }
}

@media (min-width: 768px) {
  .jumbotron {
    margin: 130px 0 0;
    padding: 0;
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
