$font-stack-roboto: "Roboto", sans-serif;
$font-stack-times: 'timesbold_italic', serif;
$font-stack-gothic: 'Montserrat', sans-serif;

$color-white: #fff;
$color-black: #000;
$color-gray: #4b4b4b;
$color-secondary-gray: #6a6969;
$color-light-gray: #f0f0f0;
$color-dark-gray: #131212;

$font-color: #1b1b1b;
